* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

/* header */
header {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
header.on {
  position: fixed;
  left: 0;
  top: 0;
  bottom: auto;
  z-index: 5;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}
nav ul li {
  width: calc(100% / 4);
  text-align: center;
  padding: 0.8rem 0;
  cursor: pointer;
}
nav ul li:hover {
  background-color: #222;
  color: #fff;
}

/* container */
#container > section {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.con1 {
  background-image: url(../img/pic11.jpg);
}
.con2 {
  background-image: url(../img/pic22.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.con2 ul {
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.con2 ul li {
  width: calc(100% / 4 - 3rem);
  height: 350px;
  background-color: #555;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
  font-size: 8rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding-top: 80px;
}
.con2 ul li.on {
  transform: translateY(0);
  opacity: 1;
}
.con3 {
  background-image: url(../img/pic33.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 2500px;
}
.con3 > div {
  width: 70%;
  height: 350px;
  background-color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding-top: 130px;
  transform: rotateY(-180deg);
  opacity: 0;
  transition: 0.5s;
}
.con3 > div.on {
  transform: rotateY(0deg);
  opacity: 1;
}
.con4 {
  background-image: url(../img/pic44.jpg);
}
.side {
  position: fixed;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
}
.side ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.side ul li {
  display: flex;
  align-items: center;
  gap: 5px;
}
.side ul li span {
  display: inline-block;
  width: 5px;
  height: 30px;
  background-color: #fff;
  cursor: pointer;
}
.side ul li span.on {
  background-color: #f00;
}
.side ul li i {
  display: none;
  font-style: normal;
  font-size: 0.8rem;
}
.side ul li i.on {
  display: inline-block;
}
